
body{
    background-image: url();
    margin: 50px;
    background-color: hsl(151, 53%, 90%);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: hsl(11, 87%, 12%);
    
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    color: hsl(281, 76%, 8%);
}
.navbar ul{
    list-style: none;
    background-color: hsla(0, 69%, 24%, 1.00);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: hsl(0, 23%, 91%)
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(106, 96%, 40%);
}
.site-footer{
  background:hsl(0, 17%, 78%);
  padding:1rem;
  text-align:center;
  font-size:0.9rem;
  margin-top:1rem;
}